/* Code tidied up by ScrapBook */
body { background: rgb(54, 47, 45) none repeat scroll 0% 0%; }
a { color: rgb(255, 102, 0); border-color: rgb(255, 102, 0); }
a:hover { border-color: rgb(253, 178, 121); }
.container { border: 1px solid rgb(181, 192, 175); background: rgb(250, 253, 242) none repeat scroll 0% 0%; }
.content .section-title .field, footer .section-title .field { border-color: rgb(181, 192, 175); }
header .branding a { color: rgb(76, 76, 76); }
header .tagline { color: rgb(26, 158, 0); }
.promo-2-columns__item-title a { color: rgb(255, 255, 255) ! important; border-color: rgb(214, 214, 214); }
.nav-global_style-9 { position: relative; background-color: rgb(255, 102, 0); }
.nav-global_style-9::after { border-color: rgb(255, 204, 153) transparent transparent; }
.nav-global_style-9 > nav > ul > li.has-child .sub-nav { background-color: rgb(255, 153, 51); }
.nav-global_style-9 > nav > ul > li.has-child:hover { background-color: rgb(255, 153, 51); }
