/* Code tidied up by ScrapBook */
.search-form { background-color: rgb(64, 64, 64); }
.search-form__input { border-color: rgb(170, 173, 178) rgb(226, 233, 239) rgb(226, 233, 239); background-color: rgb(255, 255, 255); }
.search-form__submit { background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); }
.search-form__submit:hover { background-color: rgb(226, 0, 0); }
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { border: 0px none; font-family: inherit; font-style: inherit; font-weight: inherit; line-height: inherit; font-size-adjust: inherit; font-stretch: inherit; font-feature-settings: inherit; font-language-override: inherit; font-kerning: inherit; font-synthesis: inherit; font-variant: inherit; font-size: 100%; vertical-align: baseline; margin: 0px; padding: 0px; }
html { line-height: 1; min-width: 960px; }
table { border-collapse: collapse; border-spacing: 0px; }
caption, th, td { text-align: left; font-weight: 400; vertical-align: middle; }
.cf::before, .cf::after { display: table; content: ""; }
.header_style-1::before, .header_style-2::before, .header_style-3::before, .header_style-4::before, .header_style-1::after, .header_style-2::after, .header_style-3::after, .header_style-4::after { display: table; content: ""; }
.cf::after, .header_style-1::after, .header_style-2::after, .header_style-3::after, .header_style-4::after { clear: both; }
.cf, .header_style-1, .header_style-2, .header_style-3, .header_style-4 {  }
body { font-family: Arial,sans-serif; font-size: 13px; line-height: 1.385; color: rgb(64, 64, 64); text-align: center; padding: 20px 0px 0px; }
input, textarea { font-family: Arial,sans-serif; }
.more p a span, h1, h2, h3, h4, h5, h6 { font-family: Georgia,serif; }
footer .phone, footer .phone-w-title dt { font-family: Georgia,serif; }
header .phone-w-title dd, .content_page .large_type, .content nav.pagination, .testimonials .item .name, .categories-grid .item, .promo-interactive .caption, .promo-interactive-2 .caption { font-family: Georgia,serif; }
.promo-text-style_2 .item .title a, .promo-text-style_3, .promo-text-style_4, .promo-lenta, .promo-cards, .promo-wide-vs, .promo-stack, .promo-slides, .promo-style-7 { font-family: Georgia,serif; }
.catalog-card-extended .cost .regular, .form-message-success, .testimonials-personal .quotes .item .cite, .content_page table th, .promo-special .head .badge { font-family: Georgia,serif; }
.container { width: 878px; position: relative; z-index: 3; margin: 0px auto; padding: 0px 40px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
a { text-decoration: none; border-bottom-width: 1px; border-bottom-style: solid; }
header { padding: 35px 0px; }
header .branding { margin-bottom: 1em; text-align: center; }
header .branding a { display: inline-block; border: 0px none; font-size: 43px; font-weight: 700; line-height: 0.9; color: rgb(0, 0, 0); }
header .tagline { font-size: 22px; line-height: 1.1; }
header.header_style-2 .phone { float: right; text-align: left; margin-left: 30px; width: 248px; }
header.header_style-2 .phone .phone-w-title dd { font-size: 28px; margin: 1px 0px; }
header.header_style-2 .phone .callback-form .basket-popup, header.header_style-2 .phone .callback-form .register-form, header.header_style-2 .phone .callback-form .form-common-feedback { bottom: auto; top: 0px; }
header.header_style-2 .branding { width: 600px; }
.nav-global-secondary { background: rgb(0, 0, 0) none repeat scroll 0% 0%; margin: -20px 0px 40px; }
.nav-global-secondary nav { width: 878px; margin: 0px auto; padding: 10px 0px; }
.nav-global-secondary nav ul li { display: inline-block; padding-left: 32px; background: transparent url("nav-bg-5c8aded6d21e22aca8f09741658f6a53.gif") no-repeat scroll 12px 0.7em; }
.nav-global nav ul li { display: inline-block; font-size: 16px; }
.nav-global_style-9 { position: relative; background-color: rgb(108, 108, 108); }
.nav-global_style-9::after { position: absolute; bottom: -5px; left: 0px; box-sizing: border-box; width: 100%; border-width: 5px 5px 0px; border-style: solid; border-color: rgb(208, 208, 208) transparent transparent; content: ""; }
.nav-global_style-9 > nav > ul > li { position: relative; line-height: 3.25; }
.nav-global_style-9 > nav > ul > li::before { position: absolute; top: 50%; left: -3px; z-index: 1; margin-top: -1px; width: 3px; height: 3px; background-color: rgb(213, 214, 215); content: ""; }
.nav-global_style-9 > nav > ul > li:first-child::before { display: none; }
.nav-global_style-9 a { display: block; padding: 0px 19px; border: medium none; color: rgb(255, 255, 255); font-weight: bold; }
.nav-global_style-9 a:hover { opacity: 0.7; }
.nav-global_style-9 > nav > ul > li.has-child:hover { background-color: rgb(145, 145, 145); }
.nav-global_style-9 > nav > ul > li.has-child:hover + li::before { display: none; }
.nav-global_style-9 > nav > ul > li.has-child .sub-nav { position: absolute; top: 100%; left: 0px; z-index: 200; display: none; padding: 15px 20px; width: 180px; background-color: rgb(145, 145, 145); text-align: left; }
.nav-global_style-9 > nav > ul > li.has-child .sub-nav::before { position: absolute; bottom: -5px; left: 0px; z-index: 1; box-sizing: border-box; width: 101%; border-width: 5px 5px 0px; border-style: solid; border-color: rgb(208, 208, 208) transparent transparent; content: ""; }
.nav-global_style-9 > nav > ul > li.has-child .sub-nav::after { position: absolute; top: 0px; right: -5px; z-index: 1; box-sizing: border-box; height: 101%; border-width: 5px 0px 5px 5px; border-style: solid; border-color: transparent transparent transparent rgb(246, 246, 246); content: ""; }
.nav-global_style-9 > nav > ul > li.has-child .sub-nav ul::after { position: absolute; right: -5px; bottom: -5px; z-index: 2; border-width: 5px; border-style: solid; border-color: transparent rgb(246, 246, 246) rgb(208, 208, 208) transparent; content: ""; }
.nav-global_style-9 > nav > ul > li.has-child:hover .sub-nav, .nav-global_style-9 > nav > ul > li.has-child.hover .sub-nav { display: block; }
.nav-global_style-9 > nav > ul > li.has-child .sub-nav li { display: block; margin-bottom: 6px; line-height: 1.5; }
.nav-global_style-9 > nav > ul > li.has-child .sub-nav li:last-child { margin-bottom: 0px; }
.nav-global_style-9 > nav > ul > li.has-child .sub-nav a { padding: 0px; font-weight: normal; }
.site-nav__search { position: relative; }
.site-nav__search a { font-weight: bold; }
.site-nav__search i { display: inline-block; margin: -2px 7px 0px 0px; width: 16px; height: 16px; background-image: url("search-icon-cde2d8ed7a3cdc6c4f33d922549e3704.png"); background-repeat: no-repeat; vertical-align: middle; }
.search-form { position: absolute; top: 100%; right: 0px; display: none; margin-top: 17px; padding: 20px; width: 345px; line-height: 0; z-index: 12; background-color: rgb(64, 64, 64); }
.search-form::after { position: absolute; top: -7px; right: 52px; content: url("search-form-arrow-c62b0e9ab6a13f7576656e55365b0bfc.png"); }
.search-form__input { float: left; margin: 0px 10px 0px 0px; padding: 2px 5px; width: 246px; border-style: solid; border-width: 1px; border-radius: 2px; font-size: 14px; border-color: rgb(170, 173, 178) rgb(226, 233, 239) rgb(226, 233, 239); background-color: rgb(255, 255, 255); }
.search-form__submit { float: left; margin: 0px; padding: 0px; width: 77px; height: 22px; border: medium none; font-size: 12px; line-height: 1.833; cursor: pointer; color: rgb(255, 255, 255); }
.content h2 { font-size: 18px; line-height: 1.222; margin-top: 0.7em; margin-bottom: 0.35em; }
.content p li, .content ul li { margin-bottom: 0.5em; }
.content ul li::before, .content ul li .ie-marker { content: "—  "; color: rgb(213, 214, 215); }
footer { margin-top: 40px; padding-bottom: 22px; }
footer .section-title { text-align: center ! important; font-size: 10px; text-transform: uppercase; color: rgb(153, 153, 153); line-height: 1; margin-bottom: 0.5em; }
footer .phones { width: 100%; margin: 1em 0px; }
footer .phones .phone-w-title dt { font-size: 22px; }
.content.section .common-section-title, .content_page.section .common-section-title { text-align: center ! important; margin-top: 0px; margin-bottom: 20px; }
.form { background: rgb(236, 236, 236) none repeat scroll 0% 0%; max-width: 500px; margin: 1.538em auto; padding: 1.538em 1.538em 0px; }
.form label { display: block; padding-bottom: 1.538em; }
.form label input, .form label textarea { box-sizing: border-box; width: 100%; display: block; border: 1px solid rgb(213, 214, 215); text-align: center; font-size: 16px; margin: 0px; padding: 0.3em 0px; }
.form input[type="submit"] { font-size: 22px; line-height: 1.1; border: 0px none; background: transparent none repeat scroll 0px center; color: rgb(226, 0, 0); cursor: pointer; margin: -0.454em 0px 0.909em; padding: 0px; }
.form.order { max-width: 100%; background: transparent none repeat scroll 0% 0%; padding: 0px; text-align: center; }
.form.order fieldset { max-width: 500px; padding: 1.538em 1.538em 0px; margin: 0px auto 30px; }
.form.order input[type="submit"] { font-size: 18px; line-height: 1.1; border: 0px none; background: rgb(57, 187, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255); width: 295px; cursor: pointer; margin: 0px; padding: 0.6em 0px; }
.form.order input[type="submit"]:hover { background-color: rgb(69, 221, 71); }
.form.order label { position: relative; }
.form-message-success { display: none; text-align: center ! important; background-color: rgb(57, 187, 0); background-image: url("mail_pattern-bc5755a57bd39da89a0ef2a788bc8067.png"); font-size: 18px; font-weight: 700; line-height: 1; color: rgb(255, 255, 255); margin: 40px 0px; padding: 30px; }
.form-message-success p { text-align: center ! important; margin: 0px ! important; }
.form-message-success.form-message-success-clean { background-image: none; }
.basket-popup, .register-form, .callback-form .form-common-feedback, .quick-order-form .form-common-feedback { display: none; position: absolute; top: 50%; left: 50%; width: 620px; margin-left: -310px; z-index: 999; }
.basket-popup .content, .register-form .content, .callback-form .form-common-feedback .content, .quick-order-form .form-common-feedback .content { background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 20px 30px; }
.basket-popup .close, .register-form .close, .callback-form .form-common-feedback .close, .quick-order-form .form-common-feedback .close { position: absolute; top: 10px; right: 10px; cursor: pointer; width: 11px; height: 11px; background: transparent url("icon-delete-bg-a39ffdf3355fb4f8500b46c00b01efaf.gif") repeat scroll 0px 0px; z-index: 999; }
.basket-popup .cn-top, .register-form .cn-top, .callback-form .form-common-feedback .cn-top, .quick-order-form .form-common-feedback .cn-top, .basket-popup .cn-bot, .register-form .cn-bot, .callback-form .form-common-feedback .cn-bot, .quick-order-form .form-common-feedback .cn-bot { position: absolute; width: 100%; left: 0px; }
.basket-popup .cn-top.cn-top, .register-form .cn-top.cn-top, .callback-form .form-common-feedback .cn-top.cn-top, .quick-order-form .form-common-feedback .cn-top.cn-top, .basket-popup .cn-bot.cn-top, .register-form .cn-bot.cn-top, .callback-form .form-common-feedback .cn-bot.cn-top, .quick-order-form .form-common-feedback .cn-bot.cn-top { top: -19px; left: 0px; }
.basket-popup .cn-top i, .register-form .cn-top i, .callback-form .form-common-feedback .cn-top i, .quick-order-form .form-common-feedback .cn-top i, .basket-popup .cn-top b, .register-form .cn-top b, .callback-form .form-common-feedback .cn-top b, .quick-order-form .form-common-feedback .cn-top b, .basket-popup .cn-top s, .register-form .cn-top s, .callback-form .form-common-feedback .cn-top s, .quick-order-form .form-common-feedback .cn-top s, .basket-popup .cn-bot i, .register-form .cn-bot i, .callback-form .form-common-feedback .cn-bot i, .quick-order-form .form-common-feedback .cn-bot i, .basket-popup .cn-bot b, .register-form .cn-bot b, .callback-form .form-common-feedback .cn-bot b, .quick-order-form .form-common-feedback .cn-bot b, .basket-popup .cn-bot s, .register-form .cn-bot s, .callback-form .form-common-feedback .cn-bot s, .quick-order-form .form-common-feedback .cn-bot s { display: block; position: absolute; top: 0px; height: 19px; background: transparent url("basket-popup-bg-10ed13619395d769a45e84ce5e806ae9.png") no-repeat scroll 0% 0%; }
.basket-popup .cn-top i, .register-form .cn-top i, .callback-form .form-common-feedback .cn-top i, .quick-order-form .form-common-feedback .cn-top i, .basket-popup .cn-bot i, .register-form .cn-bot i, .callback-form .form-common-feedback .cn-bot i, .quick-order-form .form-common-feedback .cn-bot i { left: -19px; width: 19px; background-position: -19px 0px; }
.basket-popup .cn-top b, .register-form .cn-top b, .callback-form .form-common-feedback .cn-top b, .quick-order-form .form-common-feedback .cn-top b, .basket-popup .cn-bot b, .register-form .cn-bot b, .callback-form .form-common-feedback .cn-bot b, .quick-order-form .form-common-feedback .cn-bot b { width: 19px; right: -19px; }
.basket-popup .cn-top s, .register-form .cn-top s, .callback-form .form-common-feedback .cn-top s, .quick-order-form .form-common-feedback .cn-top s, .basket-popup .cn-bot s, .register-form .cn-bot s, .callback-form .form-common-feedback .cn-bot s, .quick-order-form .form-common-feedback .cn-bot s { left: 0px; width: 100%; background-position: -38px 0px; }
.basket-popup .cn-top.cn-bot i, .register-form .cn-top.cn-bot i, .callback-form .form-common-feedback .cn-top.cn-bot i, .quick-order-form .form-common-feedback .cn-top.cn-bot i, .basket-popup .cn-bot.cn-bot i, .register-form .cn-bot.cn-bot i, .callback-form .form-common-feedback .cn-bot.cn-bot i, .quick-order-form .form-common-feedback .cn-bot.cn-bot i { background-position: -19px -19px; }
.basket-popup .cn-top.cn-bot b, .register-form .cn-top.cn-bot b, .callback-form .form-common-feedback .cn-top.cn-bot b, .quick-order-form .form-common-feedback .cn-top.cn-bot b, .basket-popup .cn-bot.cn-bot b, .register-form .cn-bot.cn-bot b, .callback-form .form-common-feedback .cn-bot.cn-bot b, .quick-order-form .form-common-feedback .cn-bot.cn-bot b { background-position: 0px -19px; }
.basket-popup .cn-top.cn-bot s, .register-form .cn-top.cn-bot s, .callback-form .form-common-feedback .cn-top.cn-bot s, .quick-order-form .form-common-feedback .cn-top.cn-bot s, .basket-popup .cn-bot.cn-bot s, .register-form .cn-bot.cn-bot s, .callback-form .form-common-feedback .cn-bot.cn-bot s, .quick-order-form .form-common-feedback .cn-bot.cn-bot s { background-position: -38px -19px; }
.basket-popup .cn-mid i, .register-form .cn-mid i, .callback-form .form-common-feedback .cn-mid i, .quick-order-form .form-common-feedback .cn-mid i, .basket-popup .cn-mid b, .register-form .cn-mid b, .callback-form .form-common-feedback .cn-mid b, .quick-order-form .form-common-feedback .cn-mid b { position: absolute; top: 0px; left: -19px; display: block; width: 19px; height: 100%; background: transparent url("basket-popup-bg-l-850d8f4de755049d4839cbc9907ac9ca.png") repeat-y scroll 0% 0%; }
.basket-popup .cn-mid b, .register-form .cn-mid b, .callback-form .form-common-feedback .cn-mid b, .quick-order-form .form-common-feedback .cn-mid b { margin-left: 100%; left: 0px; background-position: -19px 0px; }
.callback-form .form-common-feedback { bottom: 0px; top: auto; width: 320px; margin-left: -160px; }
.callback-form .form-common-feedback .content .form input { font-size: 14px; }
.callback-form .form-common-feedback .content .form input[type="submit"] { width: auto; padding: 0.6em 30px; }
.content_page p, .content_page ul, .content_page ol { margin: 12px 0px; }
.content_page ul li { margin-bottom: 4px; list-style-position: inside; }
.content_page ul li::before { content: "—  "; }
.content_page .cb-photo-row { overflow: hidden; margin: 0px -20px; }
.content_page .cb-photo-row .item { float: left; width: 189px; padding: 0px 20px; }
.content_page dl.image dd { font-style: italic; padding-top: 12px; }
.separator { width: 40%; overflow: hidden; border-top: 1px solid rgb(213, 214, 215); margin: 35px auto; }
.madeby { position: relative; z-index: 2; padding: 12px 0px 14px; }
.promo-interactive ul { position: relative; height: 320px; overflow: hidden; margin: 0px; }
.promo-interactive ul .panel { background-position: center center; position: absolute; overflow: hidden; background-color: rgb(255, 255, 255); background-repeat: no-repeat; }
.promo-lenta { width: 876px; text-align: left; margin: 35px 0px 40px; }
.promo-lenta ul li { float: left; font-size: 16px; line-height: 1.375; width: 292px; height: 292px; position: relative; }
.promo-lenta ul li .caption { display: table; text-align: center; position: absolute; width: 100%; bottom: 0px; left: 0px; height: 77px; background: rgba(0, 0, 0, 0.65) none repeat scroll 0% 0%; }
.promo-lenta ul li .caption .caption-in { display: table-cell; width: 100%; height: 57px; vertical-align: middle; padding: 10px 20px; }
ol, ul, .content_page .services-message ul li { list-style: outside none none; }
a img, .promo-features-form .items-nav ul li a { border: medium none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, header .branding a img, .no-touch .nav-global.nav-global_style-3 nav ul li a:hover b, .nav-global.nav-global_style-7 nav ul li.hover ul, .content.section .testimonials-cycle .testimonials-cycle-container .testimonials.act, .content_page.section .testimonials-cycle .testimonials-cycle-container .testimonials.act, .menu-list li article .image img, .news-list li article .image img, .clients-list li article .image img, .catalog-list li article .image img, .gallery-list li img { display: block; }
header.header_style-2 .branding, header.header_style-2 .tagline, header.header_style-2 .phone .callback-form .toggle { text-align: left; }
body.content_text-align_left .content p, body.content_text-align_left .content ul, body.content_text-align_left .content ol, body.content_text-align_left .content h2, body.content_text-align_left .content h3, body.content_text-align_left .content h4, body.content_text-align_left .content address, body.content_text-align_left .content .catalog-item .specification { text-align: left; }
body.content_text-align_left .content_page p, body.content_text-align_left .content_page ul, body.content_text-align_left .content_page ol, body.content_text-align_left .content_page h2, body.content_text-align_left .content_page h3, body.content_text-align_left .content_page h4, body.content_text-align_left .content_page address, body.content_text-align_left .content_page .catalog-item .specification { text-align: left; }
header.header_style-2 .phone .phone-w-title dt, footer .phones .phone-w-title dd { color: rgb(102, 102, 102); }
.nav-global-secondary nav ul li:first-child { padding-left: 0px; background: transparent none repeat scroll 0% 0%; }
.nav-global-secondary nav ul li a, .promo-slides .items .item ._footer .link a { color: rgb(255, 255, 255); border: 0px none; text-decoration: underline; }
.nav-global nav { margin-bottom: 35px; }
.frontpage .content p, .frontpage .content dl.image { margin-bottom: 35px; }
.promo-lenta ul li a { border: 0px none; color: rgb(255, 255, 255); }
.content .section-title .field, footer .section-title .field { width: 50%; border-top: 1px solid rgb(213, 214, 215); }
.content .section-title span, footer .section-title span { display: block; position: relative; top: -0.5em; white-space: nowrap; padding: 0px 1em; }
.content .section-title h3, footer .section-title h3 { font-weight: 400; }
.content p, .content ul, .content ol { margin-bottom: 1em; }
.content ul li, .content.section .more p { margin-bottom: 0px; }
.content dl.image img, .content_page dl.image img { display: block; height: auto; max-width: 100%; margin: 0px auto; }
footer .phones td, footer .social a img { vertical-align: top; }
footer .phones .phone-w-title, .catalog-item .variants h2, .basket-popup .content h2, .register-form .content h2, .callback-form .form-common-feedback .content h2, .quick-order-form .form-common-feedback .content h2, .basket-popup .content h3, .register-form .content h3, .callback-form .form-common-feedback .content h3, .quick-order-form .form-common-feedback .content h3 { text-align: center ! important; }
.frontpage .content_page, .subscribe-form, .content_page.section { margin: 40px 0px; }
.frontpage .content_page .cb-photo-row .item .image { margin: 0px; }
.frontpage .content_page .cb-photo-row .item .image dt { margin-top: 0px; }
.content_page h1:first-child, .content_page h2:first-child, .content_page h3:first-child, .content_page h4:first-child { margin-top: 0px; }
.register-form .content h2 a, .callback-form .toggle a, .quick-order-form .toggle a, .testimonials .item blockquote .toggle { border-bottom-style: dashed; }
.callback-form, .promo-interactive-2 .item { position: relative; text-align: center; }
.callback-form .form-common-feedback .content, .quick-order-form .form-common-feedback .content { padding: 5px 20px; }
.callback-form .form-common-feedback .form-message-success, .quick-order-form .form-common-feedback .form-message-success, .testimonials .item.item-single .text { margin: 20px 0px; }
.content_page h2, .content_page .services-message h2 { font-size: 22px; line-height: 1.1; color: rgb(0, 0, 0); margin-bottom: 12px; margin-top: 24px; }
.content_page .cb-video, .content_page dl.image { margin: 0px 0px 20px; }
.promo-lenta ul, .promo-lenta .jcarousel-clip { overflow: hidden; }
.promo-interactive, .promo-text, .promo-scheme { margin: 35px 0px 40px; }
.promo-lenta ul li img, .promo-interactive-2 .item img { display: block; vertical-align: top; }
header .branding a { font-size: 43px; }
header .tagline { font-size: 22px; }
.search-form__submit, .payment_online p, .content_page .testimonials .item blockquote, .has-toolbar .header .container { font-size: 12px; }
body, .order-information td.quantity .value, .promo-scheme .row .item .item-o p, .pv_item p span { font-size: 13px; }
.search-form__input, .pv_item p, .content.section .testimonials-cycle .testimonials-cycle-nav ul li, .content_page.section .testimonials-cycle .testimonials-cycle-nav ul li { font-size: 14px; }
.callback-form .form-common-feedback .content .form input, .quick-order-form .toggle span { font-size: 14px; }
header.header_style-4 .advantage-item, .nav-global nav ul li { font-size: 16px; }
.form label input, .form label textarea { font-size: 16px; }
.promo-style-7 .items .item .link a, .promo-lenta ul li, .testimonials .item .name { font-size: 16px; }
.form.feedback input[type="submit"], .form.order input[type="submit"] { font-size: 18px; }
.form-message-success, .menu-list li.more p, .news-list li.more p, .clients-list li.more p, .catalog-list li.more p { font-size: 18px; }
.form input[type="submit"], footer .phones .phone-w-title dt, .promo-interactive-2 .item .caption { font-size: 22px; }
.content .section-title, footer .section-title { font-size: 10px; }
.content h2, .content_page h3, .menu-list li article .description h2, .news-list li article .description h2, .clients-list li article .description h2, .catalog-list li article .description h2, .menu-list li article .description h3, .news-list li article .description h3, .clients-list li article .description h3, .catalog-list li article .description h3, .catalog-item .add-to-basket a .wrap .text .title, .portfolio-photos li .title, .promo-potok .item .text h2, .testimonials-personal h2, .questions .item .question h3, .callback_form h1, .promo-special .foot .subscribe-form form label.caption { font-size: 18px; }
header.header_style-4 .phone-w-title dd, footer .phones .phone-w-title dt, .promo-scheme .row-middle .item.center .item-i h2, .promo-banner-vertical.expanded .pbv-content h4.title, .promo-banner-middle .pbm-content .title, .promo-banner-corner.promo-banner-popup .pbc-content .title, .promo-special .foot h3 { font-size: 22px; }
.content_page h2, .content_page .services-message h2 { font-size: 22px; }
header.header_style-2 .phone .phone-w-title dd, footer .phone, .promo-style-7 .items .item h2, .features-personal h2, .promo-special .head .title { font-size: 28px; }
.promo-2-columns { margin-bottom: 30px; margin-left: -10px; }
.promo-2-columns__item { position: relative; float: left; margin-bottom: 10px; margin-left: 10px; width: 434px; height: 300px; background-position: center top; background-size: cover; background-repeat: no-repeat; }
.promo-2-columns__item-title { position: absolute; right: 0px; bottom: 0px; left: 0px; padding: 25px 40px 28px; background-color: rgba(0, 0, 0, 0.65); color: rgb(255, 255, 255); text-align: center ! important; font-size: 18px; line-height: 1.334; font-weight: bold; }
@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
}
@media all and (max-width: 900px) {
}
#fancybox-left, #fancybox-right, #fancybox-close { border: medium none ! important; }
body { position: relative; }
@media screen and (max-width: 1114px) {
}
@media screen and (max-height: 440px) {
}
a, .desktop-order-submit { cursor: pointer; }
header .branding { line-height: 1; }
header .tagline { line-height: 0.9; }
header .tagline.desktop-slogan-size_2 { font-size: 1.692em; }
.desktop-slogan-italic { font-style: italic; }
.desktop-slogan-bold { font-weight: bold; }
.desktop-logo-italic { font-style: italic; }
.desktop-logo-bold { font-weight: bold; }
.promo-lenta ul li span.caption { color: rgb(255, 255, 255); }
.promo-interactive, .promo-interactive-2, .promo-lenta, .promo, .promo-potok, .promo-scheme, .promo-text { margin-top: 0px; }
.content .promo-text ul li::before, .content .promo-lenta ul li::before, .content .promo-interactive ul li::before, .content .promo ul li::before { content: none ! important; }
.common-section-title { font-size: 200% ! important; text-align: center ! important; }
#fancybox-loading { position: fixed; top: 50%; left: 50%; width: 40px; height: 40px; margin-top: -20px; margin-left: -20px; cursor: pointer; overflow: hidden; z-index: 1104; display: none; }
#fancybox-loading div { position: absolute; top: 0px; left: 0px; width: 40px; height: 480px; background-image: url("fancybox-46af315762ef3e1b0566fcb0fe6c64fe.png"); }
#fancybox-overlay { position: absolute; top: 0px; left: 0px; width: 100%; z-index: 1100; display: none; }
#fancybox-tmp { padding: 0px; margin: 0px; border: 0px none; overflow: auto; display: none; }
#fancybox-wrap { position: absolute; top: 0px; left: 0px; padding: 20px; z-index: 1101; outline: medium none; display: none; }
#fancybox-outer { position: relative; width: 100%; height: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#fancybox-content { width: 0px; height: 0px; padding: 0px; outline: medium none; position: relative; overflow: hidden; z-index: 1102; border: 0px solid rgb(255, 255, 255); }
#fancybox-close { position: absolute; top: -15px; right: -15px; width: 30px; height: 30px; background: transparent url("fancybox-46af315762ef3e1b0566fcb0fe6c64fe.png") repeat scroll -40px 0px; cursor: pointer; z-index: 1103; display: none; }
#fancybox-left, #fancybox-right { position: absolute; bottom: 0px; height: 100%; width: 35%; cursor: pointer; outline: medium none; background: transparent url("blank-2ebbd7cb21c3980daa0bddcc9c7ce5fc.gif") repeat scroll 0% 0%; z-index: 1102; display: none; }
#fancybox-left { left: 0px; }
#fancybox-right { right: 0px; }
#fancybox-left-ico, #fancybox-right-ico { position: absolute; top: 50%; left: -9999px; width: 30px; height: 30px; margin-top: -15px; cursor: pointer; z-index: 1102; display: block; }
#fancybox-left-ico { background-image: url("fancybox-46af315762ef3e1b0566fcb0fe6c64fe.png"); background-position: -40px -30px; }
#fancybox-right-ico { background-image: url("fancybox-46af315762ef3e1b0566fcb0fe6c64fe.png"); background-position: -40px -60px; }
#fancybox-left:hover, #fancybox-right:hover { visibility: visible; }
#fancybox-left:hover span { left: 20px; }
#fancybox-right:hover span { left: auto; right: 20px; }
.fancybox-bg { position: absolute; padding: 0px; margin: 0px; border: 0px none; width: 20px; height: 20px; z-index: 1001; }
#fancybox-bg-n { top: -20px; left: 0px; width: 100%; background-image: url("fancybox-x-6b9903dd895b32e67a739afdc02d023f.png"); }
#fancybox-bg-ne { top: -20px; right: -20px; background-image: url("fancybox-46af315762ef3e1b0566fcb0fe6c64fe.png"); background-position: -40px -162px; }
#fancybox-bg-e { top: 0px; right: -20px; height: 100%; background-image: url("fancybox-y-e518a9a79f544e80bcc3cbd9421d2d05.png"); background-position: -20px 0px; }
#fancybox-bg-se { bottom: -20px; right: -20px; background-image: url("fancybox-46af315762ef3e1b0566fcb0fe6c64fe.png"); background-position: -40px -182px; }
#fancybox-bg-s { bottom: -20px; left: 0px; width: 100%; background-image: url("fancybox-x-6b9903dd895b32e67a739afdc02d023f.png"); background-position: 0px -20px; }
#fancybox-bg-sw { bottom: -20px; left: -20px; background-image: url("fancybox-46af315762ef3e1b0566fcb0fe6c64fe.png"); background-position: -40px -142px; }
#fancybox-bg-w { top: 0px; left: -20px; height: 100%; background-image: url("fancybox-y-e518a9a79f544e80bcc3cbd9421d2d05.png"); }
#fancybox-bg-nw { top: -20px; left: -20px; background-image: url("fancybox-46af315762ef3e1b0566fcb0fe6c64fe.png"); background-position: -40px -122px; }
#fancybox-title { font-family: Helvetica; font-size: 12px; z-index: 1102; }
