/* Code tidied up by ScrapBook */
@font-face {
  font-family: "Anonymous Pro";
  font-style: italic;
  font-weight: 400;
  src: url("rP2fp2a15UIB7Un-bOeISG3pHl4G8wn50Ko.woff2") format("woff2");
  unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "Anonymous Pro";
  font-style: italic;
  font-weight: 400;
  src: url("rP2fp2a15UIB7Un-bOeISG3pHl4G9An50Ko.woff2") format("woff2");
  unicode-range: U+370-3FF;
}
@font-face {
  font-family: "Anonymous Pro";
  font-style: italic;
  font-weight: 400;
  src: url("rP2fp2a15UIB7Un-bOeISG3pHl4G-Qn50Ko.woff2") format("woff2");
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Anonymous Pro";
  font-style: italic;
  font-weight: 400;
  src: url("rP2fp2a15UIB7Un-bOeISG3pHl4G9wn5.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Anonymous Pro";
  font-style: italic;
  font-weight: 700;
  src: url("rP2ap2a15UIB7Un-bOeISG3pHl4OTCzs64u24Ko.woff2") format("woff2");
  unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "Anonymous Pro";
  font-style: italic;
  font-weight: 700;
  src: url("rP2ap2a15UIB7Un-bOeISG3pHl4OTCzs7Iu24Ko.woff2") format("woff2");
  unicode-range: U+370-3FF;
}
@font-face {
  font-family: "Anonymous Pro";
  font-style: italic;
  font-weight: 700;
  src: url("rP2ap2a15UIB7Un-bOeISG3pHl4OTCzs4Yu24Ko.woff2") format("woff2");
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Anonymous Pro";
  font-style: italic;
  font-weight: 700;
  src: url("rP2ap2a15UIB7Un-bOeISG3pHl4OTCzs74u2.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Anonymous Pro";
  font-style: normal;
  font-weight: 400;
  src: url("rP2Bp2a15UIB7Un-bOeISG3pHl829RH9.woff2") format("woff2");
  unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "Anonymous Pro";
  font-style: normal;
  font-weight: 400;
  src: url("rP2Bp2a15UIB7Un-bOeISG3pHlg29RH9.woff2") format("woff2");
  unicode-range: U+370-3FF;
}
@font-face {
  font-family: "Anonymous Pro";
  font-style: normal;
  font-weight: 400;
  src: url("rP2Bp2a15UIB7Un-bOeISG3pHlU29RH9.woff2") format("woff2");
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Anonymous Pro";
  font-style: normal;
  font-weight: 400;
  src: url("rP2Bp2a15UIB7Un-bOeISG3pHls29Q.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Anonymous Pro";
  font-style: normal;
  font-weight: 700;
  src: url("rP2cp2a15UIB7Un-bOeISG3pFuAT4Crc7ZOy.woff2") format("woff2");
  unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "Anonymous Pro";
  font-style: normal;
  font-weight: 700;
  src: url("rP2cp2a15UIB7Un-bOeISG3pFuAT4C3c7ZOy.woff2") format("woff2");
  unicode-range: U+370-3FF;
}
@font-face {
  font-family: "Anonymous Pro";
  font-style: normal;
  font-weight: 700;
  src: url("rP2cp2a15UIB7Un-bOeISG3pFuAT4CDc7ZOy.woff2") format("woff2");
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Anonymous Pro";
  font-style: normal;
  font-weight: 700;
  src: url("rP2cp2a15UIB7Un-bOeISG3pFuAT4C7c7Q.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src: url("dg47_pLmvrkcOkBNI_FMh0j91rkhli25jn_oKBwnonU.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src: url("dg47_pLmvrkcOkBNI_FMh0j91rkhli25jn_oIRwnonU.woff2") format("woff2");
  unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src: url("dg47_pLmvrkcOkBNI_FMh0j91rkhli25jn_oKhwnonU.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src: url("dg47_pLmvrkcOkBNI_FMh0j91rkhli25jn_oKxwnonU.woff2") format("woff2");
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 400;
  src: url("dg47_pLmvrkcOkBNI_FMh0j91rkhli25jn_oJRwn.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 700;
  src: url("dg47_pLmvrkcOkBNI_FMh0j91rkhli25aXjoKBwnonU.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 700;
  src: url("dg47_pLmvrkcOkBNI_FMh0j91rkhli25aXjoIRwnonU.woff2") format("woff2");
  unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 700;
  src: url("dg47_pLmvrkcOkBNI_FMh0j91rkhli25aXjoKhwnonU.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 700;
  src: url("dg47_pLmvrkcOkBNI_FMh0j91rkhli25aXjoKxwnonU.woff2") format("woff2");
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Cuprum";
  font-style: italic;
  font-weight: 700;
  src: url("dg47_pLmvrkcOkBNI_FMh0j91rkhli25aXjoJRwn.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: url("dg45_pLmvrkcOkBnKsOzXyGWTBcmg-X6VjbYJwQj.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: url("dg45_pLmvrkcOkBnKsOzXyGWTBcmg-X6Vj_YJwQj.woff2") format("woff2");
  unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: url("dg45_pLmvrkcOkBnKsOzXyGWTBcmg-X6VjTYJwQj.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: url("dg45_pLmvrkcOkBnKsOzXyGWTBcmg-X6VjXYJwQj.woff2") format("woff2");
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 400;
  src: url("dg45_pLmvrkcOkBnKsOzXyGWTBcmg-X6VjvYJw.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src: url("dg45_pLmvrkcOkBnKsOzXyGWTBcmgwL9VjbYJwQj.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src: url("dg45_pLmvrkcOkBnKsOzXyGWTBcmgwL9Vj_YJwQj.woff2") format("woff2");
  unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src: url("dg45_pLmvrkcOkBnKsOzXyGWTBcmgwL9VjTYJwQj.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src: url("dg45_pLmvrkcOkBnKsOzXyGWTBcmgwL9VjXYJwQj.woff2") format("woff2");
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: 700;
  src: url("dg45_pLmvrkcOkBnKsOzXyGWTBcmgwL9VjvYJw.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 300;
  src: url("z7NOdRfiaC4Vd8hhoPzfb5vBTP0D7ZurR_ibHw.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 300;
  src: url("z7NOdRfiaC4Vd8hhoPzfb5vBTP0D7ZuiR_ibHw.woff2") format("woff2");
  unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 300;
  src: url("z7NOdRfiaC4Vd8hhoPzfb5vBTP0D7ZuqR_ibHw.woff2") format("woff2");
  unicode-range: U+1F00-1FFF;
}
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 300;
  src: url("z7NOdRfiaC4Vd8hhoPzfb5vBTP0D7ZulR_ibHw.woff2") format("woff2");
  unicode-range: U+370-3FF;
}
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 300;
  src: url("z7NOdRfiaC4Vd8hhoPzfb5vBTP0D7ZupR_ibHw.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 300;
  src: url("z7NOdRfiaC4Vd8hhoPzfb5vBTP0D7ZuoR_ibHw.woff2") format("woff2");
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 300;
  src: url("z7NOdRfiaC4Vd8hhoPzfb5vBTP0D7ZumR_g.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 400;
  src: url("z7NOdRfiaC4Vd8hhoPzfb5vBTP1d7ZurR_ibHw.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 400;
  src: url("z7NOdRfiaC4Vd8hhoPzfb5vBTP1d7ZuiR_ibHw.woff2") format("woff2");
  unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 400;
  src: url("z7NOdRfiaC4Vd8hhoPzfb5vBTP1d7ZuqR_ibHw.woff2") format("woff2");
  unicode-range: U+1F00-1FFF;
}
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 400;
  src: url("z7NOdRfiaC4Vd8hhoPzfb5vBTP1d7ZulR_ibHw.woff2") format("woff2");
  unicode-range: U+370-3FF;
}
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 400;
  src: url("z7NOdRfiaC4Vd8hhoPzfb5vBTP1d7ZupR_ibHw.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 400;
  src: url("z7NOdRfiaC4Vd8hhoPzfb5vBTP1d7ZuoR_ibHw.woff2") format("woff2");
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 400;
  src: url("z7NOdRfiaC4Vd8hhoPzfb5vBTP1d7ZumR_g.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 500;
  src: url("z7NOdRfiaC4Vd8hhoPzfb5vBTP1v7ZurR_ibHw.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 500;
  src: url("z7NOdRfiaC4Vd8hhoPzfb5vBTP1v7ZuiR_ibHw.woff2") format("woff2");
  unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 500;
  src: url("z7NOdRfiaC4Vd8hhoPzfb5vBTP1v7ZuqR_ibHw.woff2") format("woff2");
  unicode-range: U+1F00-1FFF;
}
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 500;
  src: url("z7NOdRfiaC4Vd8hhoPzfb5vBTP1v7ZulR_ibHw.woff2") format("woff2");
  unicode-range: U+370-3FF;
}
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 500;
  src: url("z7NOdRfiaC4Vd8hhoPzfb5vBTP1v7ZupR_ibHw.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 500;
  src: url("z7NOdRfiaC4Vd8hhoPzfb5vBTP1v7ZuoR_ibHw.woff2") format("woff2");
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 500;
  src: url("z7NOdRfiaC4Vd8hhoPzfb5vBTP1v7ZumR_g.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 600;
  src: url("z7NOdRfiaC4Vd8hhoPzfb5vBTP2D6purR_ibHw.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 600;
  src: url("z7NOdRfiaC4Vd8hhoPzfb5vBTP2D6puiR_ibHw.woff2") format("woff2");
  unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 600;
  src: url("z7NOdRfiaC4Vd8hhoPzfb5vBTP2D6puqR_ibHw.woff2") format("woff2");
  unicode-range: U+1F00-1FFF;
}
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 600;
  src: url("z7NOdRfiaC4Vd8hhoPzfb5vBTP2D6pulR_ibHw.woff2") format("woff2");
  unicode-range: U+370-3FF;
}
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 600;
  src: url("z7NOdRfiaC4Vd8hhoPzfb5vBTP2D6pupR_ibHw.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 600;
  src: url("z7NOdRfiaC4Vd8hhoPzfb5vBTP2D6puoR_ibHw.woff2") format("woff2");
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Jura";
  font-style: normal;
  font-weight: 600;
  src: url("z7NOdRfiaC4Vd8hhoPzfb5vBTP2D6pumR_g.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Kelly Slab";
  font-style: normal;
  font-weight: 400;
  src: url("-W_7XJX0Rz3cxUnJC5t6fkALfq0k.woff2") format("woff2");
  unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "Kelly Slab";
  font-style: normal;
  font-weight: 400;
  src: url("-W_7XJX0Rz3cxUnJC5t6fkoLfq0k.woff2") format("woff2");
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Kelly Slab";
  font-style: normal;
  font-weight: 400;
  src: url("-W_7XJX0Rz3cxUnJC5t6fkQLfg.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
  src: url("neILzCirqoswsqX9zo-mM5Ez.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
  src: url("neILzCirqoswsqX9zoamM5Ez.woff2") format("woff2");
  unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
  src: url("neILzCirqoswsqX9zo2mM5Ez.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
  src: url("neILzCirqoswsqX9zoymM5Ez.woff2") format("woff2");
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Lobster";
  font-style: normal;
  font-weight: 400;
  src: url("neILzCirqoswsqX9zoKmMw.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 400;
  src: url("EJRTQgYoZZY2vCFuvAFT_rC1chb-.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 400;
  src: url("EJRTQgYoZZY2vCFuvAFT_rm1chb-.woff2") format("woff2");
  unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 400;
  src: url("EJRTQgYoZZY2vCFuvAFT_rO1chb-.woff2") format("woff2");
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 400;
  src: url("EJRTQgYoZZY2vCFuvAFT_r21cg.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 700;
  src: url("EJRQQgYoZZY2vCFuvAFT9gaQZyTfoPNB.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 700;
  src: url("EJRQQgYoZZY2vCFuvAFT9gaQZy3foPNB.woff2") format("woff2");
  unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 700;
  src: url("EJRQQgYoZZY2vCFuvAFT9gaQZyffoPNB.woff2") format("woff2");
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 700;
  src: url("EJRQQgYoZZY2vCFuvAFT9gaQZynfoA.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  src: url("EJRVQgYoZZY2vCFuvAFbzr-tdg.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  src: url("EJRVQgYoZZY2vCFuvAFSzr-tdg.woff2") format("woff2");
  unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  src: url("EJRVQgYoZZY2vCFuvAFYzr-tdg.woff2") format("woff2");
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  src: url("EJRVQgYoZZY2vCFuvAFWzr8.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  src: url("EJRSQgYoZZY2vCFuvAnt66qfVyvHpA.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  src: url("EJRSQgYoZZY2vCFuvAnt66qWVyvHpA.woff2") format("woff2");
  unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  src: url("EJRSQgYoZZY2vCFuvAnt66qcVyvHpA.woff2") format("woff2");
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  src: url("EJRSQgYoZZY2vCFuvAnt66qSVys.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Philosopher";
  font-style: italic;
  font-weight: 400;
  src: url("vEFX2_5QCwIS4_Dhez5jcWBrf0I81-qe.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "Philosopher";
  font-style: italic;
  font-weight: 400;
  src: url("vEFX2_5QCwIS4_Dhez5jcWBrf0s81-qe.woff2") format("woff2");
  unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "Philosopher";
  font-style: italic;
  font-weight: 400;
  src: url("vEFX2_5QCwIS4_Dhez5jcWBrf0A81-qe.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Philosopher";
  font-style: italic;
  font-weight: 400;
  src: url("vEFX2_5QCwIS4_Dhez5jcWBrf0881w.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Philosopher";
  font-style: italic;
  font-weight: 700;
  src: url("vEFK2_5QCwIS4_Dhez5jcWBrd_QZwti_Wo7H.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "Philosopher";
  font-style: italic;
  font-weight: 700;
  src: url("vEFK2_5QCwIS4_Dhez5jcWBrd_QZwtG_Wo7H.woff2") format("woff2");
  unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "Philosopher";
  font-style: italic;
  font-weight: 700;
  src: url("vEFK2_5QCwIS4_Dhez5jcWBrd_QZwtq_Wo7H.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Philosopher";
  font-style: italic;
  font-weight: 700;
  src: url("vEFK2_5QCwIS4_Dhez5jcWBrd_QZwtW_Wg.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 400;
  src: url("vEFV2_5QCwIS4_Dhez5jcWBjT00k0w.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 400;
  src: url("vEFV2_5QCwIS4_Dhez5jcWBqT00k0w.woff2") format("woff2");
  unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 400;
  src: url("vEFV2_5QCwIS4_Dhez5jcWBhT00k0w.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 400;
  src: url("vEFV2_5QCwIS4_Dhez5jcWBuT00.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 700;
  src: url("vEFI2_5QCwIS4_Dhez5jcWjValgW8tenXg.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 700;
  src: url("vEFI2_5QCwIS4_Dhez5jcWjValgf8tenXg.woff2") format("woff2");
  unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 700;
  src: url("vEFI2_5QCwIS4_Dhez5jcWjValgU8tenXg.woff2") format("woff2");
  unicode-range: U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+1EA0-1EF9, U+20AB;
}
@font-face {
  font-family: "Philosopher";
  font-style: normal;
  font-weight: 700;
  src: url("vEFI2_5QCwIS4_Dhez5jcWjValgb8tc.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  src: url("Z9XUDmZRWg6M1LvRYsHOy8mJrrg.woff2") format("woff2");
  unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  src: url("Z9XUDmZRWg6M1LvRYsHOwcmJrrg.woff2") format("woff2");
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  src: url("Z9XUDmZRWg6M1LvRYsHOz8mJ.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 400;
  src: url("4iCu6KVjbNBYlgoKej75l0mwFg.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 400;
  src: url("4iCu6KVjbNBYlgoKej7wl0mwFg.woff2") format("woff2");
  unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 400;
  src: url("4iCu6KVjbNBYlgoKej74l0mwFg.woff2") format("woff2");
  unicode-range: U+1F00-1FFF;
}
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 400;
  src: url("4iCu6KVjbNBYlgoKej73l0mwFg.woff2") format("woff2");
  unicode-range: U+370-3FF;
}
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 400;
  src: url("4iCu6KVjbNBYlgoKej76l0mwFg.woff2") format("woff2");
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 400;
  src: url("4iCu6KVjbNBYlgoKej70l0k.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 700;
  src: url("4iCp6KVjbNBYlgoKejZPslyCN4Ffgg.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 700;
  src: url("4iCp6KVjbNBYlgoKejZPslyLN4Ffgg.woff2") format("woff2");
  unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 700;
  src: url("4iCp6KVjbNBYlgoKejZPslyDN4Ffgg.woff2") format("woff2");
  unicode-range: U+1F00-1FFF;
}
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 700;
  src: url("4iCp6KVjbNBYlgoKejZPslyMN4Ffgg.woff2") format("woff2");
  unicode-range: U+370-3FF;
}
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 700;
  src: url("4iCp6KVjbNBYlgoKejZPslyBN4Ffgg.woff2") format("woff2");
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 700;
  src: url("4iCp6KVjbNBYlgoKejZPslyPN4E.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("4iCs6KVjbNBYlgoKcg72j00.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("4iCs6KVjbNBYlgoKew72j00.woff2") format("woff2");
  unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("4iCs6KVjbNBYlgoKcw72j00.woff2") format("woff2");
  unicode-range: U+1F00-1FFF;
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("4iCs6KVjbNBYlgoKfA72j00.woff2") format("woff2");
  unicode-range: U+370-3FF;
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("4iCs6KVjbNBYlgoKcQ72j00.woff2") format("woff2");
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("4iCs6KVjbNBYlgoKfw72.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("4iCv6KVjbNBYlgoCxCvjvWyNL4U.woff2") format("woff2");
  unicode-range: U+460-52F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("4iCv6KVjbNBYlgoCxCvjtGyNL4U.woff2") format("woff2");
  unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("4iCv6KVjbNBYlgoCxCvjvGyNL4U.woff2") format("woff2");
  unicode-range: U+1F00-1FFF;
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("4iCv6KVjbNBYlgoCxCvjs2yNL4U.woff2") format("woff2");
  unicode-range: U+370-3FF;
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("4iCv6KVjbNBYlgoCxCvjvmyNL4U.woff2") format("woff2");
  unicode-range: U+100-24F, U+259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("4iCv6KVjbNBYlgoCxCvjsGyN.woff2") format("woff2");
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
